* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgb(255, 0, 0) !important;
}

.first-Page {
    height: 100vh;
    width: 100%;
}

.last-Page {
    height: 100vh;
    width: 100%;
}

.title {
    text-shadow: 0.2rem 0.5rem rgb(0, 0, 0);
}

.end-Page {
    height: 100vh;
    width: 100%;
}

#image {
    width: 100% !important;
    height: 100vh !important;
}